.header {
  &_fleche {
    border: none;
    @include row;
    justify-content: space-around;
    &--logo {
      margin-top: 1rem;
      border: none;
      font-family: $font_titre;
      font-size: 2.5rem;
    }
  }
}
