.header {
  &_fleche {
    border: none;
    @include row;

    &--logo {
      margin-left: 5rem;
      margin-top: 1rem;
      border: none;
      font-family: $font_titre;
      font-size: 2rem;
    }
  }
}
