.h1 {
  &_title {
    @include row;
    justify-content: center;
    margin: 1rem;
    font-family: $font_titre;

    &--font {
      margin-right: 2rem;
      font-size: 1.5rem;
    }
  }
}
.img_background {
  width: 100%;
  &--resized {
    width: 100%;
  }
}

.body_resto {
  display: flex;
  flex-direction: column;
  border-radius: 25px 25px 0 0;
  background-color: $fourth-color;
  position: relative;
  margin-top: -2rem;
}
.menu-restaurant {
  @include colonne;
  margin-right: 1rem;
}
.repas {
  margin: 1rem;
  margin-top: 0rem;
}

.h2_main {
  border-bottom: solid $third-color;
  width: 10%;
  @include padding-topbot;
  margin-bottom: 1rem;
  font-weight: 400;
  margin-left: 1rem;
}

.total_resto {
  @include row;
  @include border;
  height: 65px;
  border: none;
  border-color: $fourth-color;
  border-radius: 15px;
  padding-left: 1rem;
  padding-right: 0rem;
  padding-top: 0rem;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  background-color: white;
  &--menu {
    @include colonne;
    text-align: start;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.bold {
  font-weight: $bold;
  margin-bottom: 0rem;
  margin-top: 1rem;
  @include ellipsis;
}

.smaller {
  font-size: 0.7rem;
  font-weight: 400;
  @include ellipsis;
}

.resto {
  &--menu {
    &--prix {
      margin-top: 2rem;
      @include margin-cote;
      font-weight: $bold;
      font-size: 0.8rem;
    }
  }
}

.button {
  display: block;
  text-align: center;
}

@media #{$small-screen} {
  .header_fleche {
    justify-content: space-between;
  }
}
@media #{$medium-screen} {
  .header_fleche {
    justify-content: space-between;
    &--logo {
      margin-right: 3rem;
    }
  }
}
@media #{$xlarge-screen} {
  .img_background {
    @include img_back;
    &--resized {
      @include img_back;
      height: 825px;
    }
  }
  .body {
    &_resto {
      background-color: white;
    }
  }
  .menu-restaurant {
    @include row;
    justify-content: center;
  }
  .btn {
    width: 80%;
  }
}
