.h2 {
  &_title {
    @include row;
    justify-content: space-between;
    margin: 1rem;
    font-family: $font_titre;
  }
}
.img_background {
  height: 235px;
  width: 100%;
}

.body_resto {
  display: flex;
  flex-direction: column;
  border-radius: 25px 25px 0 0;
  background-color: $fourth-color;
  position: relative;
  margin-top: -2rem;
}

.repas {
  margin: 1rem;
  margin-top: 0rem;
}

.h4_main {
  border-bottom: solid $third-color;
  width: 10%;
  @include padding-topbot;
  margin-bottom: 1rem;
  font-weight: 400;
  margin-left: 1rem;
}

.total_resto {
  @include row;
  @include border;
  border: none;
  border-color: $fourth-color;
  border-radius: 15px;
  padding-left: 1rem;
  padding-right: 0rem;
  padding-top: 0rem;
  height: 55px;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  &--menu {
    @include colonne;
    text-align: start;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.bold {
  font-weight: $bold;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.smaller {
  font-size: 0.7rem;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  }

.resto {
  &--menu {
    &--prix {
      margin-top: 2rem;
      @include margin-cote;
      font-weight: $bold;
      font-size: 0.8rem;
    }
  }
}

.button {
  display: block;
  text-align: center;
}
