.header_accueil {
  animation: accueilappear 2s 2s both;
}
.main_accueil {
  animation: accueilappear 2s 2s both;
}
.footer_accueil {
  animation: accueilappear 2s 2s both;
}
.total_resto {
  &:hover {
    & > .menus_ok {
      height: 65px;
      width: 30%;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: 0rem;
      border-radius: 0 15px 15px 0;
      font-size: 1rem;
      display: flex;
      background-color: $third-color;
      color: white;
      animation: revealAnimation 0s;
      & > .fa-check-circle {
        transform: scale(1) rotate(1turn);
        transition: transform 1s;
      }
    }
  }
}

.fa-check-circle {
  transform: scale(0);
  transition: transform 0s;
  color: $fourth-color;
}
.entrees {
  animation: fadein 1s;
}
.plats {
  animation: fadein 2s;
}
.dessert {
  animation: fadein 3s;
}
.empty {
  cursor: pointer;
  &:hover {
    & > .coeur--plein {
      opacity: 1;
      color: transparent;
      position: relative;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: $gradientheart;
      animation: accueilappear 1s both;
      transform: translateX(-2);
    }
    & > .coeur--vide {
      animation: loadercache 0.5s both;
      transform: translateX(0);
    }
  }
}
