.fa-map-marker-alt {
  display: inline-block;
  margin-top: 1rem;
  font-size: 0.8rem;
  margin-left: 2rem;
}
.icon {
  margin-top: 1.2rem;
  margin-right: 1rem;
  color: $dark-fourth-color;
  font-family: $font_titre;
  &--heart {
    margin-top: 0.5rem;
    &--titre {
      margin-top: 1.8rem;
    }
  }
  &--couverts {
    color: white;
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
  &--hands {
    @extend .icon--couverts;
    transform: rotate(-45deg);
    margin-right: 0rem;
    margin-left: 0.3rem;
  }
  &--arrow {
    font-size: 1rem;
    margin-top: 2.2rem;
    margin-left: 1rem;
    color: $more-darker-fourth-color;
  }
}
.empty {
  position: relative;
}
.coeur--vide {
  color: $darker-fourth-color;
  position: absolute;
  margin-top: 1.8rem;
}
.coeur--plein {
  z-index: 1;
  opacity: 0;
}
