.fa-map-marker-alt {
  display: inline-block;
  margin-top: 1rem;
  font-size: 0.8rem;
  margin-left: 2rem;
}
.icon {
  margin-top: 1rem;
  margin-right: 1rem;
  color: $dark-fourth-color;
  font-family: $font_titre;
}
