.header {
  &_accueil {
    border-bottom: solid $fourth-color;
  }
  &_logo {
    @include margin-cote;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: none;
    font-family: $font_titre;
    font-size: 2rem;
    text-align: center;
  }
}
