.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: $third-color;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: linear-gradient(
    to bottom right,
    $second-color,
    60%,
    $first-color
  );
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
.main_loader {
  background-color: $first-color;
  margin: auto;
  height: 100%;
  width: 100%;
  animation: loadercache 2s 2s both;
  position: fixed;
  margin-top: -2rem;
}

.loader_heart {
  text-align: center;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 11px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.patience {
  font-size: 1rem;
  font-weight: $bold;
  font-family: $font;
  color: white;
  text-align: center;
  position: fixed;
  margin: 0rem;
}
