$small: 576px !default;
$medium: 768px !default;
$large: 992px !default;
$x-large: 1200px !default;
$xx-large: 1400px !default;
$small-screen: "all and (min-width: #{$small})";
$medium-screen: "all and (min-width: #{$medium})";
$large-screen: "all and (min-width: #{$large})";
$xlarge-screen: "all and (min-width: #{$x-large})";
$xxlarge-screen: "all and (min-width: #{$xx-large})";
